* {
	margin: 0px;
	padding: 0px;
}

.back{
	width: 100vw;
	height: 100vh;
	background: #E8E8E8;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	display: flex;
	position: relative;
}

.base {
	width: 60vmin;
	height: 30vmin;
	color: #A1A1A1;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#two {
	width: 63vmin;
	height: 27vmin;
}

#three {
	background: #575757;
	width: 59vmin;
	height: 25vmin;
}

#four {
	width: 61vmin;
	height: 22vmin;
	box-shadow: 0 -2vmin black;
}

#five {
	background: #999999;
	width: 55vmin;
	height: 18vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 
		0 -2vmin #999999,
		-2vmin 0 white,
		2vmin 0 white,
		-2vmin -4vmin white,
		2min -4vmin white;
}

#dialogue {
	position: absolute;
	background: white;
	top: 70vmin;
	height: 25vmin;
	width: 90vmin;
	color: black;
	box-shadow: 
		-1.5vmin 1.5vmin, 1.5vmin -1.5vmin,
		-2.5vmin 2.5vmin white, -2.5vmin -2.5vmin white,
		-1.5vmin -1.5vmin, 1.5vmin 1.5vmin;
}

h1 {
	font-family: VT323;
	font-size: 12vmin;
	text-align: left;
}

.fwd {
	position: relative;
	left: 35vmin;
	top: 1vmin;
	background: transparent;
	height: 1vmin;
	width: 1vmin;
	color: black;
	box-shadow: 
		1vmin 0, 2vmin 0, 3vmin 0, 4vmin 0, 5vmin 0, 6vmin 0,
		2vmin 1vmin, 3vmin 1vmin, 4vmin 1vmin, 5vmin 1vmin,
		3vmin 2vmin, 4vmin 2vmin;
	animation: int 1s infinite;
}